<h1 class="text-center"><%= I18n.t('views.guest.sign_in') %></h1>

<%= render "shared/global/flash_messages", flash: flash %>

<%= @presenter.render_login_form %>

<hr class="my-4">

<a href="<%= register_path %>" class="w-100 btn btn-primary btn-block">
  <%= I18n.t('views.guest.sign_up') %>
</a>
