<table class="table mb-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.fullname') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.email') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.role') %></th>
      <th scope="col"><%= I18n.t('views.admin.users.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= link_to user.id, admin_user_path(user.id) %></th>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td><%= user.badge_role %></td>
        <td>
          <%= user.link_to_edit %>
          <%= user.link_to_convert %>
          <%= user.link_to_delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to I18n.t('views.admin.users.index.add'), new_admin_user_path, class: "btn btn-outline-primary" %>
<%= link_to I18n.t('views.admin.users.index.import'), upload_admin_users_path, class: "btn btn-outline-success" %>
