<table id="admin-users-table" class="table mb-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.fullname') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.email') %></th>
      <th scope="col"><%= I18n.t('activerecord.attributes.user.role') %></th>
      <th scope="col"><%= I18n.t('views.admin.users.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= render partial: 'shared/admin/users/row', locals: { user: user } %>
    <% end %>
  </tbody>
</table>

<%= link_to I18n.t('views.admin.users.index.add'), new_admin_user_path, class: "btn btn-outline-primary" %>
<%= link_to I18n.t('views.admin.users.index.import'), upload_admin_users_path, class: "btn btn-outline-success" %>
