<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= @user.image_tag_avatar(:tiny) %>
    <%= link_to @user.fullname, profile_root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= edit_profile_path %>">
            <%= I18n.t('views.profile.edit_profile') %>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= change_password_profile_path %>">
            <%= I18n.t('views.profile.change_password') %>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
         <%= link_to I18n.t('views.profile.delete_profile'), delete_profile_path, id: 'navbar-profile-btn-delete', class: 'nav-link', data: { confirm: 'Are you sure? This action is irreversible' } %>
        </li>
        <li class="nav-item">
         <%= link_to I18n.t('views.shared.profile.navbar.sign_out'), logout_path, id: 'navbar-profile-btn-logout', method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
